* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-success: #5cb85f;
  --color-success-hover: #92d094;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #fa2c5a;
  --color-warning: #f9cc00;
  --color-neutral: #d0d0d0;
  --color-icon: #cfd4ed;
  --color-scroll: #0d28a6;

  --color-bg: #f1f3ff;
  --color-bg2: #e5e5e5;
  --color-bg3: #0d28a6;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-black);
  background: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-black);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 3px;
}
#btn-register {
  background: var(--color-success);
  color: var(--color-white);
  padding: 4px 17px;
}

.btn:hover {
  background: var(--color-success-hover);
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-success);
  color: var(--color-white);
}
/*========================NAVBAR===============================*/

nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.window-scroll {
  background: var(--color-scroll);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__menu a {
  font-size: 1rem;
}

.nav__menu a:hover {
  color: var(--color-neutral);
  transition: var(--transition);
}

/*========================HEADEER===============================*/
header {
  /* position: relative; */
  /* overflow: hidden; */
  margin-top: 4rem;
  height: 50vh;
  margin-bottom: 5rem;
}

.header__container {
  display: flex;
  align-items: center;
  /* gap: 30rem; */
  height: 100%;
  width: 100%;
}

.header__left {
  width: 50%;
  margin-left: 12rem;
  margin-right: 3rem;
}
.header__left p {
  margin: 2rem 0 2.4rem;
}

/*=========================OUR SERVICES============================*/
.ourservices {
  margin-top: -6.7rem;
  background: var(--color-bg2);
  height: 32rem;
  overflow: hidden;
  margin-left: auto;
}

.ourservices__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28rem;
}
.ourservices h2 {
  line-height: 1.6;
  margin-bottom: 1rem;
}
.ourservices__left-image {
  /* right: -100rem;
  width: 30rem;
  height: 22.5rem; */
  width: 500px;
  clear: both;
}
.ourservices__right p {
  margin: 1rem 0 1rem;
  gap: 1rem;
}
.ourservices__right li {
  margin: 1rem 0 1rem;
}
.service__icon {
  background: var(--color-icon);
  width: 5rem;
  height: 3rem;
  margin: 1rem 0 1rem;
  border-radius: 50%;
}

/* End Service */

/*=========================WHYUS============================*/
.whyus {
  background: var(--color-bg2);
  height: 28rem;
}

.whyus h2 {
  display: flex;
  line-height: 1;
  margin-bottom: 1rem;
}

.whyus p {
  margin: 1rem 0;
}
.why {
  background-color: var(--color-bg);
  border: 1px solid;
  border-color: var(--color-neutral);
  box-shadow: #d0d0d0;
  border-radius: 1.5rem;
  padding: 2rem;
  transition: var(--transition);
}

.why:hover {
  background: var(--color-neutral);
}
.box__whyus {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.why__icon {
  background: var(--color-warning);
  padding: 1rem;
  border-radius: 50%;
}
.why:nth-child(2) .why__icon {
  background: var(--color-red);
}
.why:nth-child(3) .why__icon {
  background: var(--color-bg3);
}
.why:nth-child(4) .why__icon {
  background: var(--color-success);
}

.why h5 {
  font-size: 1rem;
  margin: 1.2rem 0 1rem;
}

.why p {
  font-size: 0.85rem;
}
/* End WHy Us */

.testimonials {
  background: var(--color-bg2);
  position: relative;
  height: 40rem;
}
#testimonialHeading {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
#testimonialParagraf {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.testimonials__container {
  overflow-x: hidden;
  position: relative;
  padding: 4rem;
}
.testimonial {
  display: grid;
  grid-template-columns: 50% 40%;
  background: var(--color-bg);
  margin: 1rem;
  height: 12rem;
  border-radius: 4rem;
}
.testi__left {
  overflow: hidden;
  margin: 0 auto 1rem;
  display: flex;
  align-self: center;
  height: 5rem;
  width: 5em;
  border-radius: 10%;
  position: relative;
}
.testi__right {
  align-self: center;
}
.checked {
  color: var(--color-warning);
}

/*=========================ADVERTISE============================*/
.advertise {
  background: var(--color-bg2);
}
.adve {
  padding: 30px;
}
.advertise__container {
  background: var(--color-bg3);
  width: 1168px;
  height: 326px;
  text-align: center;
  color: var(--color-white);
  padding: 2rem;
  border-radius: 0.8rem;
  position: relative;
  margin-top: 2rem;
}
.advertise h2 {
  line-height: 3rem;
  margin-bottom: 2rem;
}
.advertise p {
  line-height: 1.2rem;
  margin: 1rem 0 2rem;
}

/*=========================FAQS============================*/
.faqs {
  background: var(--color-bg2);
}
.faqs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 1rem;
  display: flex;
  align-items: center;
  height: fit-content;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid;
  border-color: var(--color-neutral);
  border-radius: 0.25rem;
  justify-content: space-between;
}
.faqs h2 {
  display: flex;
  margin-bottom: 1rem;
}
.faq__icon i {
  font-size: 1.5rem;
}
.faq p {
  line-height: 1.2rem;
  margin: 1rem 0 2rem;
  display: none;
}
.faq.open p {
  display: block;
}
.faq h5 {
  font-size: 1rem;
  line-height: 2.2;
}

/*=========================FOOTER============================*/
footer {
  background: var(--color-bg2);
  padding: 5rem 0 3rem;
  font-size: 0.9rem;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container > div h4 {
  margin-bottom: 1.2rem;
}

.footer__1 p {
  margin: 0 0 2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

/* ============MEDIA QUERIES (TABLETS)==============*/
@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-black);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }
  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
  }
  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav__menu li a {
    background: var(--color-bg2);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .nav__menu li a:hover {
    background: var(--color-success);
    color: var(--color-black);
  }

  /*=========header==========*/
  .header__container {
    overflow-x: hidden;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .header__left {
    width: 80%;
    margin: 0;
    text-align: center;
  }

  .header__right {
    margin-left: -9rem;
    scale: 0.7;
    margin-bottom: 3rem;
  }
}
/* ============== Our Services =========== */
.ourservices {
  margin-top: 1rem;
  height: auto;
}
.ourservices__container {
  grid-template-columns: 50% 40%;
  gap: 2rem;
}
.ourservices__left-image {
  width: 20rem;
  height: 16.5rem;
  left: 6rem;
  top: 0;
}

.testimonial {
  box-sizing: border-box;
  object-fit: fill;
  display: grid;
  grid-template-columns: 40% 40%;
  background: var(--color-bg);
  margin: 1rem;
  height: 12rem;
  border-radius: 4rem;
  margin-bottom: 2rem;
}
.advertise {
  height: 50vh;
}
.advertise__container {
  padding: 0.2px;
}
/*=========WhyUs==========*/
.whyus {
  margin-top: 0;
  height: auto;
}
.box__whyus {
  grid-template-columns: 1fr 1fr;
}

/*=========faqs==========*/
.faqs__container {
  grid-template-columns: 1fr;
}
.faq {
  padding: 1.5rem;
}

/*=========footer==========*/
.footer__container {
  grid-template-columns: 1fr 1fr;
}
/* RESPONSIVE DESIGN */

/* MEDIA QUERIES (TABLETS) */
@media screen and (max-width: 1023px) {
  .container {
    /* overflow-x: hidden; */
    width: var(--container-width-md);
  }

  h1 {
    font-size: 28px;
    line-height: 44px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  /* NAVBAR IN TABLETS VIEW */
  nav button {
    display: inline-block;
    background: var(--primary-darkblue-1);
    font-size: 1.8rem;
    color: var(--neutral-5);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav_menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
  }

  .nav_menu li {
    width: 100%;
    height: 5.8rem;
  }

  .nav_menu .btn {
    color: var(--neutral-5);
  }

  .nav_menu li a {
    background: var(--primary-darkblue-1);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .nav_menu li a:hover {
    background: var(--primary-darkblue-4);
    color: var(--neutral-1);
  }

  /* HEADER */
  header {
    padding-top: 2rem;
    height: auto;
    grid-template-columns: 1fr 1fr;
  }

  .header_container {
    /* gap: 0.2rem; */
    grid-template: 1fr;
  }

  .header_left {
    padding-bottom: 2rem;
    position: absolute;
    flex-direction: column;
    justify-content: center;
  }
  .header__right-image {
    right: -8.7rem;
    position: relative;
    scale: 1.4;
    margin-top: -1rem;
    overflow-x: hidden;
  }

  /* SERVICES */
  .ourservices {
    height: auto;
  }

  .ourservices_left {
    margin-left: 1.5rem;
  }

  .ourservices_right p {
    margin: 1rem 0 0.5rem;
  }

  .ourservices_right li {
    margin-bottom: 4px;
  }

  .service__icon {
    border-radius: 50%;
    margin-right: 12px;
    font-size: 1rem;
    padding: 0.2rem 0;
  }

  /* WHY US */
  .why_us h3 {
    margin-bottom: 0.5rem;
  }

  .why_us_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    margin-top: 1.8rem;
  }

  .info {
    padding: 1.2rem;
  }

  .info h5 {
    margin: 1rem 0 0.5rem;
  }

  /* TESTIMONIAL */
  .testimonial_container p {
    margin: 8px 0 2rem;
  }

  .testimonial {
    gap: 3.6rem;
    padding: 2rem;
    padding-left: 1.4rem;
  }

  .testimonial_info p {
    margin: 0.2rem 0;
  }

  /* CTA_BANNER */
  .cta_banner_container {
    padding: 4rem;
  }

  /* FAQ */
  .faq_left p {
    margin-top: 0.4rem;
  }

  /* FOOTER */
  footer {
    padding: 2.5rem 0 3rem;
  }

  .footer_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  footer ul li {
    margin-bottom: 0.5rem;
  }

  .footer_link {
    margin-left: 0;
  }

  .footer_copyright img {
    margin-top: 1rem;
    width: 25%;
  }
}

/* MEDIA QUERIES (PHONES) */
/* Styles for phone screens */

@media only screen and (max-width: 767px) {
  /* General styles */
  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 1rem;
  }

  .btn {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .btn-primary {
    background-color: var(--color-success);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
  }

  /* Navigation menu */
  .nav__menu {
    display: none;
  }

  #open-menu-btn {
    display: block;
  }

  #close-menu-btn {
    display: none;
  }

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Header section */
  .header__left {
    text-align: center;
  }

  .header__right {
    margin-top: 2rem;
  }

  .header__right-image img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }

  /* Services section */
  .ourservices__container {
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ourservices__right h2 {
    margin-left: -1rem;
  }
  .ourservices__right {
    margin-left: 3rem;
    margin-top: 2rem;
  }

  .ourservices__left-image img {
    max-width: 100%;
    height: auto;
  }

  /* Why us section */
  .whyus__container {
    text-align: center;
  }

  .box__whyus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .why {
    margin-bottom: 2rem;
  }

  .why__icon {
    font-size: 2rem;
  }
  .testimonials__container {
    margin-top: -12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Style untuk elemen <h3> */
  #testimonialHeading {
    text-align: center;
  }

  /* Style untuk elemen <p> */
  #testimonialParagraf {
    margin-top: -1.5rem;
    text-align: center;
  }
  .testi__right {
    margin-left: -2rem;
  }

  .advertise{
    margin-top: -15rem;
    
  }
  .advertise__container{
    height: 180%;
  }
  #faqs{
    margin-top: 7rem;
  }

  .adve h2 {
    line-height: 1.8rem;
  }
}


@media only screen and (max-width: 400px) {
  /* General styles */
  .container {
    overflow-x: hidden;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 1rem;
  }

  .btn {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .btn-primary {
    background-color: var(--color-success);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
  }

  /* Navigation menu */
  .nav__menu {
    display: none;
  }

  #open-menu-btn {
    display: block;
  }

  #close-menu-btn {
    display: none;
  }

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Header section */
  .header__left {
    text-align: center;
  }

  .header__right {
    margin-top: 2rem;
  }

  .header__right-image img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }

  /* Services section */
  .ourservices__container {
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ourservices__right h2 {
    margin-left: -1rem;
  }
  .ourservices__right {
    margin-left: 3rem;
    margin-top: 2rem;
  }

  .ourservices__left-image img {
    max-width: 100%;
    height: auto;
  }

  /* Why us section */
  .whyus__container {
    text-align: center;
  }

  .box__whyus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .why {
    margin-bottom: 2rem;
  }

  .why__icon {
    font-size: 2rem;
  }
  .testimonials__container {
    margin-top: -12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Style untuk elemen <h3> */
  #testimonialHeading {
    text-align: center;
  }

  /* Style untuk elemen <p> */
  #testimonialParagraf {
    margin-top: -1.5rem;
    text-align: center;
  }
  .testi__right {
    margin-left: -2.3rem;
  }

  .advertise{
    margin-top: -15rem;
    
  }
  .advertise__container{
    height: 180%;
  }
  #faqs{
    margin-top: 7rem;
  }
  .adve {
    overflow-y: hidden;
  }
  .adve h2 {
    line-height: 1.8rem;
  }
  .footer__container {
  margin-left: -1rem;
   grid-template-columns: 1fr;
  }

  .footer__1 {
    margin-bottom: 5px;
    text-align: center;
  }

  .footer__2 {
    margin-bottom: 5px;
    text-align: center;
  }

  .permalinks li {
    display: inline-block;
    margin: 0 5px;
  }

  .footer__3 {
    margin-bottom: 5px;
    text-align: center;
  }

  .footer__socials li {
    display: inline-block;
    margin: 0 10px;
  }

  .footer__4 {
    text-align: center;
  }
  #logo-binar {
    position: absolute;
    margin-left: -3rem;
    
  }
}
